# Relatório de Validação com Público-Alvo

## 1. Apresentação realizada
- Data/Local: 26/11/2025
- Participantes presentes: Toda a esquipe e Maria Cecilia.
- Objetivo da reunião/apresentação: Mostrar nosso software para a Maria Cecilia (gestora da ONG)

## 2. Evidências
- Fotos/Vídeos em `validation/evidence/`

## 3. Feedback coletado
- Feedback em `/feedback`
